@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>
    Email confirmed. <a id="main-page-link" href="/">Click here to continue to main page.</a>
</p>