@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application. <a id="main-page-link" href="/">Click here to continue to main page.</a></p>
</header>