@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Success in the classroom starts with you.</h1>
            <p>
                Connect with an expansive network of students and tutors across the country.
                Search by subject and grade level or even start your own topic of study today!
            </p>
            <div align="center">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
            </div>
        </div>
        <div class="col-sm">
            <img src="~/img/20644.jpg" width="500" alt="Hand holding smartphone with tutor on screen" />
            <a href="https://www.freepik.com/vectors/business">Business vector created by katemangostar - www.freepik.com</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">What we do</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Testimonials</h1>
        </div>
    </div>
</div>
